<%- include("header") -%>
<div class="container">
  <p>Submitted:  <%= datetime %></p> 
  <h1>Answers</h1>
  <br>
  <% for( let i = 0; i < answers.length; i++ ) { %>
  <h2>Question-<%= i+1 %></h2>
  <%= questions[i] %>
  <br>
  <p><b><span>Ans <%= i+1 %>) </span></b><%= answers[i] %></p>
  <br><hr style="border:1px solid blue;">
  <% } %>
</div>
<center>
  <form action="/answers/show" method="POST"class="answers_form">
    <button type="submit" class="btn btn-primary">Go Back</button>
  </form>
</center><br><br><br>
</body>
</html>
